.card {
    background-color: red;
    border: 3px red;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    
}

.card .Title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.card .Content {
    background-color: #fff;
    color: #000;
padding: 10px;
}